In [1]:
from pandas import series

ImportError: cannot import name 'series' from 'pandas' (C:\Users\igwe\Anaconda3\lib\site-packages\pandas\__init__.py)

In [ ]:
2**64

In [8]:
import pandas as pd

In [15]:
df = pd.DataFrame(
 ...:{
...: "Name": [
...: "Braund, Mr. Owen Harris",
...: "Allen, Mr. William Henry",
...: "Bonnell, Miss. Elizabeth",],
    "Age": [22, 35, 58],
...: "Sex": ["male", "male", "female"],
...: }
...: )

In [16]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [17]:
ages = pd.Series([22, 35, 58], name="Age")

In [18]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [19]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [20]:
import pandas as pd

In [21]:
titanic = pd.read_csv("data/titanic.csv")

FileNotFoundError: File b'data/titanic.csv' does not exist

In [1]:
my_list = [2,3,4,5,6,7,8,9]

In [2]:
my_list *3

[2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
s1 = Series(my_list)

NameError: name 'Series' is not defined

In [16]:
import pandas as pd
from pandas import seies
import numpy as np
data = np.array(["a","b","c","d"])
s = pd.series(data,index=[100,101,102,103])
print(s)

ImportError: cannot import name 'seies' from 'pandas' (C:\Users\igwe\Anaconda3\lib\site-packages\pandas\__init__.py)

In [ ]:
print s

In [18]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2", "day3"])

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [19]:
import pandas as pd
from pandas import Series

arr = Series([15, 35, 55, 75])
print(arr)

0    15
1    35
2    55
3    75
dtype: int64

In [4]:
import pandas as pd

data = {
    "names" :["Ayo", "Ade" , "Bola" ],
  "calories": [420, 380, 390],
  "duration":[50, 40, 45],
    "color":["red","blue", "green"]

}

myvar = pd.DataFrame(data)

print(myvar)

  names  calories  duration  color
0   Ayo       420        50    red
1   Ade       380        40   blue
2  Bola       390        45  green

In [8]:
import pandas as pd 

Data = {
    "boys":  [332, 234,  434],
    "girls":  [424, 421, 535],
    "male":  [190,  121,   211],
    "female":  [233, 234, 365 ]
    
}
myatt = pd.DataFrame(data)

print(myatt)

  names  calories  duration  color
0   Ayo       420        50    red
1   Ade       380        40   blue
2  Bola       390        45  green

In [9]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [2]:

from pandas import series

ImportError: cannot import name 'series' from 'pandas' (C:\Users\igwe\Anaconda3\lib\site-packages\pandas\__init__.py)

In [3]:
titanic = pd.read_csv("data/titanic.csv")

NameError: name 'pd' is not defined